# Render
render_db.sqlite3
*.log

# Environment
.env
.env.local

# Database
*.sqlite3
*.db

# Media
media/

# Logs
logs/
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
env/
ENV/
.venv1/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Static files
staticfiles/
/static/

# Django
*.log
db.sqlite3
db.sqlite3-journal
coverage/
htmlcov/
.tox/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/